body {
  background-color: $color-background;
  font-size: $font-size;
  font-family: $family;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // @include media(tablet) {
  //   height: 100%;
  // }
  @include media(laptop) {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.container {
  height: 70vh;
  position: relative;
  // @include media(tablet) {
  //   height: 130vh;
  // }
  @include media(laptop) {
    height: 100vh;
  }
}

.description__container {
  height: 30vh;
  position: relative;
  // @include media(tablet) {
  //   height: 70vh;
  // }
  @include media(laptop) {
    height: 100vh;
  }
}
