body {
  background-color: $color-background;
  font-size: $font-size;
  font-family: $family;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  @include media(laptop-l) {
    flex-direction: row;
  }
}

.container {
  height: 70%;
  position: relative;
  @include media(laptop-l) {
    height: 100%;
  }
}

.description__container {
  height: 30%;
  position: relative;
  @include media(laptop-l) {
    height: 100%;
  }
}
