// Variables

// Colors
// Primary
// Text
$color-sub-heading: hsl(276, 100%, 81%);
$color-chat-left: hsl(276, 55%, 52%);
$color-chat-right: hsl(271, 15%, 43%);
$color-placeholder: hsl(206, 6%, 79%);
$color-main-heading: hsl(271, 36%, 24%);
$color-paragraph: hsl(270, 7%, 64%);
// Gradiente
$color-gradient-1: hsl(293, 100%, 63%);
$color-gradient-2: hsl(264, 100%, 61%);
// Secondary
$color-white: hsl(0, 0%, 100%);
$color-background: hsl(270, 20%, 96%);
$color-button-background: hsl(271, 36%, 24%);
$color-button-outline: hsl(289, 100%, 72%);

// Typography
// Body Copy
$font-size: 16px;
// Font
$family: 'Rubik', sans-serif;
