.container__device
  .container__device--screen
    .app
      .app__status-bar
        span.less-icon
        .avatar
          img(src="./src/assets/images/avatar.jpg", alt="avatar")
        .name-avatar
          h1 Samuel Green
          small Available to Walk
        span.more-icon__container
          span.more-icon
      .app__chat
        .chat-left
          p That sounds great. I’d be happy with that.
        .chat-left
          p Could you send over some pictures of your dog, please?
        .images-chat-container
          img(src="./src/assets/images/dog-image-1.jpg", alt="alt")
          img(src="./src/assets/images/dog-image-2.jpg", alt="alt")
          img(src="./src/assets/images/dog-image-3.jpg", alt="alt")
        .chat-right
          p Here are a few pictures. She’s a happy girl!
        .chat-right
          p Can you make it?
        .chat-left
          p She looks so happy! The time we discussed works. How long shall I take her out for?
        .chat-left.option
          .radio-button
          p 30 minutes walk
          .price 
            h2 $29
        .chat-left.option
          .radio-button
          p 1 hour walk
          .price 
            h2 $49
      .app__screen-message
        .box-message
          p Type a message...
          .send-button
            .send-icon