.less-icon {
  padding: 0.3rem;
  &:before,
  &:after {
    content: '';
    display: block;
    width: 0.6rem;
    height: 0.2rem;
    margin: 0.2rem;
    background-color: $color-white;
  }
  &:before {
    transform: rotate(-60deg);
  }
  &:after {
    transform: rotate(60deg);
  }
  // @include media(laptop) {
  //   .less-icon {
  //     width: 1em;
  //     height: 1em;
  //     &:before {
  //       width: 0.5em;
  //       height: 0.5em;
  //     }
  //   }
  // }
}

.more-icon__container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  & .more-icon,
  & .more-icon:before,
  & .more-icon:after {
    width: 0.2rem;
    height: 0.2rem;
    display: block;
    border-radius: 50%;
    background-color: $color-white;
  }
  & .more-icon {
    &:before,
    &:after {
      content: '';
    }
    &:before {
      margin-top: -0.3rem;
    }
    &:after {
      margin-top: 0.4rem;
    }
  }
  @include media(laptop) {
    & .more-icon {
      width: 2px;
      height: 2px;
      &:before {
        width: 2px;
        height: 2px;
      }
      &:after {
        width: 2px;
        height: 2px;
      }
    }
  }
}

.send-button {
  grid-column: 2 / 3;
  width: 4em;
  height: 4em;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  background-color: $color-button-background;
  & .send-icon {
    width: 2em;
    height: 2em;
    color: $color-white;
    &:after {
      content: '';
      border-radius: 5px;
      position: absolute;
      top: 35%;
      left: 30%;
      width: 1em;
      height: 1em;
      border-bottom: solid 4px currentColor;
      border-right: solid 4px currentColor;
      transform: rotate(-45deg);
    }
  }
  @include media(laptop) {
    grid-column: 2 / 3;
    width: 2em;
    height: 2em;
    & .send-icon {
      width: 1em;
      height: 1em;
      &:after {
        width: 0.5em;
        height: 0.5em;
      }
    }
  }
}
